In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('동별_그리드.csv')

In [16]:
df

,BASE_DATE,ADM_DR_CD,ADM_DR_NM,OBJECTID,fid,id,left,top,right,bottom,field_1,grid,rank
0,20200630,2309052,숭의2동,882,686,686,168260.3209,440287.8706,168360.3209,440187.8706,336,686,40
1,20200630,2309052,숭의2동,882,687,687,168260.3209,440187.8706,168360.3209,440087.8706,337,687,1317
2,20200630,2309052,숭의2동,882,688,688,168260.3209,440087.8706,168360.3209,439987.8706,338,688,627
3,20200630,2309052,숭의2동,882,744,744,168360.3209,440487.8706,168460.3209,440387.8706,378,744,50
4,20200630,2309052,숭의2동,882,745,745,168360.3209,440387.8706,168460.3209,440287.8706,379,745,593
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,20200630,2309077,도화2·3동,902,2413,2413,171160.3209,441587.8706,171260.3209,441487.8706,1758,2413,451
3170,20200630,2309077,도화2·3동,902,2414,2414,171160.3209,441487.8706,171260.3209,441387.8706,1759,2414,439
3171,20200630,2309077,도화2·3동,902,2415,2415,171160.3209,441387.8706,171260.3209,441287.8706,1760,2415,388
3172,20200630,2309077,도화2·3동,902,2416,2416,171160.3209,441287.8706,171260.3209,441187.8706,1761,2416,867
3173,20200630,2309077,도화2·3동,902,2417,2417,171160.3209,441187.8706,171260.3209,441087.8706,1762,2417,1358

In [17]:
df = df[['ADM_DR_NM','fid','rank']]

In [18]:
list = df['ADM_DR_NM'].unique()

In [19]:
df_sort_group_top12 = df.sort_values(by='rank', ascending = True).groupby('ADM_DR_NM').head(12)

In [20]:
df_sort = df_sort_group_top12.sort_values(by=['ADM_DR_NM','rank'],ascending=True)

In [21]:
df_sort.to_csv('동별우선순위_lr.csv',encoding = 'cp949')

In [26]:
lgbm = pd.read_csv('동별_그리드_lgbm.csv',encoding = 'cp949')

In [27]:
lgbm

,BASE_DATE,ADM_DR_CD,ADM_DR_NM,OBJECTID,fid,id,left,top,right,bottom,field_1,grid,rank
0,20200630,2309052,숭의2동,882,686,686,168260.3209,440287.8706,168360.3209,440187.8706,336,686,350
1,20200630,2309052,숭의2동,882,687,687,168260.3209,440187.8706,168360.3209,440087.8706,337,687,71
2,20200630,2309052,숭의2동,882,688,688,168260.3209,440087.8706,168360.3209,439987.8706,338,688,1588
3,20200630,2309052,숭의2동,882,744,744,168360.3209,440487.8706,168460.3209,440387.8706,378,744,370
4,20200630,2309052,숭의2동,882,745,745,168360.3209,440387.8706,168460.3209,440287.8706,379,745,85
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3169,20200630,2309077,도화2·3동,902,2413,2413,171160.3209,441587.8706,171260.3209,441487.8706,1758,2413,1601
3170,20200630,2309077,도화2·3동,902,2414,2414,171160.3209,441487.8706,171260.3209,441387.8706,1759,2414,1554
3171,20200630,2309077,도화2·3동,902,2415,2415,171160.3209,441387.8706,171260.3209,441287.8706,1760,2415,1460
3172,20200630,2309077,도화2·3동,902,2416,2416,171160.3209,441287.8706,171260.3209,441187.8706,1761,2416,845
3173,20200630,2309077,도화2·3동,902,2417,2417,171160.3209,441187.8706,171260.3209,441087.8706,1762,2417,1044

In [28]:
lgbm = lgbm[['ADM_DR_NM','fid','rank']]

In [29]:
list = lgbm['ADM_DR_NM'].unique()

In [30]:
lgbm_sort_group_top12 = lgbm.sort_values(by='rank', ascending = True).groupby('ADM_DR_NM').head(12)

In [31]:
lgbm_sort = lgbm_sort_group_top12.sort_values(by=['ADM_DR_NM','rank'],ascending=True)

In [32]:
lgbm_sort.to_csv('동별우선순위_lgbm.csv',encoding = 'cp949')